.nav {
    > menu {
        /* Reset list styles */
        list-style: none;
        padding: 0;

        display: flex;

        flex-wrap: wrap;

        gap: 0.5rem;

        justify-content: space-evenly;

        > li > a {
            display: block;

            padding-block: 0.5rem;
            padding-inline: 1rem;

            border-radius: 0.5rem;
            border-style: solid;
            border-width: 0.125rem;
            border-color: black;

            line-height: 1;
        }
    }

    &.horizontal > menu {
        flex-direction: row;
    }

    &.vertical > menu {
        flex-direction: column;
    }
}
