.langswitcher {
    position: relative;

    > dialog[open] {
        position: absolute;
        inset: 1rem 1rem auto auto;

        display: grid;
        gap: 0.5em;

        border: none;
        padding: 0.5rem;
        margin: 0;
        border-radius: 1rem;
        background-color: var(--clr-base-200);

        > div {
            display: grid;
            grid-template-columns: 1fr auto;

            > span {
                line-height: 1;
                padding-inline: 0.5em;
                padding-block: 0.25em;
            }
        }

        > ul,
        > ul > li {
            display: contents;
        }
    }
}

.nav {
    > menu {
        /* Reset list styles */
        list-style: none;
        padding: 0;

        display: flex;

        flex-wrap: wrap;

        gap: 0.5rem;

        justify-content: space-evenly;

        > li {
            display: contents;

            > * {
                flex-grow: 1;
                flex-shrink: 0;
                flex-basis: 1;
            }
        }
    }

    &.horizontal > menu {
        flex-direction: row;
    }

    &.vertical > menu {
        flex-direction: column;
    }
}
