@mixin wrapper($property) {
    display: contents;

    @media (prefers-reduced-motion: no-preference) {
        & > * {
            will-change: #{$property};
            transition-property: #{$property};
            transition-duration: 100ms;
        }
    }
}
