@use "./transition";

.transitionWrapper {
    @include transition.wrapper("opacity, transform");

    @media (prefers-reduced-motion: no-preference) {
        > [class="enter"] {
            opacity: 0;
            transform: translateX(-2rem);
        }

        > [class="enter"],
        > [class="exit-active"] {
            opacity: 0;
        }

        > [class="exit"],
        > [class="enter-active"] {
            opacity: 1;
            transform: translateX(0rem);
        }

        > [class="exit-active"] {
            transform: translateX(2rem);
        }
    }
}
