$transitionDuration: 100ms;

.transitionWrapper {
    display: block;

    @media (prefers-reduced-motion: no-preference) {
        &.fade {
            > * {
                transition: opacity #{$transitionDuration};
            }

            > [class="enter"],
            > [class="exit-active"] {
                opacity: 0;
            }

            > [class="exit"],
            > [class="enter-active"] {
                opacity: 1;
            }
        }

        &.fadeHorizontal {
            > * {
                transition: opacity #{$transitionDuration}, transform #{$transitionDuration};
            }

            > [class="enter"] {
                opacity: 0;
                transform: translateX(-2rem);
            }

            > [class="enter-active"] {
                opacity: 1;
                transform: translateX(0rem);
            }

            > [class="exit"] {
                opacity: 1;
                transform: translateX(0rem);
            }

            > [class="exit-active"] {
                opacity: 0;
                transform: translateX(2rem);
            }
        }

        &.fadeVertical {
            > * {
                transition: opacity #{$transitionDuration}, transform #{$transitionDuration};
            }

            > [class="enter"] {
                opacity: 0;
                transform: translateY(-2rem);
            }

            > [class="enter"],
            > [class="exit-active"] {
                opacity: 0;
            }

            > [class="exit"],
            > [class="enter-active"] {
                opacity: 1;
                transform: translateY(0rem);
            }

            > [class="exit-active"] {
                transform: translateY(2rem);
            }
        }
    }
}
