$spacing: (
    0: 0.25,
    1: 0.5,
    2: 0.75,
    3: 1,
    4: 1.25,
    5: 1.5,
    6: 1.75,
    7: 2,
    8: 2.25,
);

$logical: (
    /* block === top & bottom */ b: "block",
    /* inline === left & right */ i: "inline",
    /* block-start === top */ bs: "block-start",
    /* inline-start === left */ is: "inline-start",
    /* block-end === bottom */ be: "block-end",
    /* inline-end === right */ ie: "inline-end"
);

$container-breakpoints: (
    xs: 20rem,
    sm: 24rem,
    md: 28rem,
    lg: 32rem,
    xl: 36rem,
    2xl: 42rem,
    3xl: 48rem,
    4xl: 56rem,
    5xl: 64rem,
    6xl: 72rem,
    7xl: 80rem,
);


