@use "sass:map";
@use "./props";

:root {
    color-scheme: var(--color-scheme);
    accent-color: var(--clr-primary);
    color: var(--clr-body);
    background-color: var(--clr-base-100);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--clr-header);
}

.prose {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-block-end: #{map.get(props.$spacing, 1)}rem;
    }

    p {
        margin-block-end: #{map.get(props.$spacing, 3)}rem;
    }
}


html[lang="mo"] {
    writing-mode: vertical-lr;
}