.lcontainer {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    // gap: 0.125rem;
    // margin-left: 5px;
    text-decoration: none;
    color: currentColor;
}
.lrow {
    // justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.lcell {
    // justify-content: space-between;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.tag {
    background-color: green;
    margin: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    text-align: center;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.hidden {
    display: none !important;
}
