@each $position in "relative", "static", "absolute", "fixed", "sticky" {
    .p-#{$position} {
        position: #{$position};
    }
}

.inset {
    inset: var(--inset);

    @each $dir in "inline", "block" {
        &-#{$dir} {
            inset-#{$dir}: var(--inset-#{$dir});

            @each $align in "start", "end" {
                &-#{$align} {
                    inset-#{$dir}-#{$align}: var(--inset-#{$dir}-#{$align});
                }
            }
        }
    }
}

@each $type in "auto", "0" {
    .inset {
        &-#{$type} {
            inset-inline-start: #{$type};
            inset-inline-end: #{$type};
            inset-block-start: #{$type};
            inset-block-end: #{$type};
        }

        @each $dir in "inline", "block" {
            &-#{$dir} {
                &-#{$type} {
                    inset-#{$dir}-start: #{$type};
                    inset-#{$dir}-end: #{$type};
                }

                @each $align in "start", "end" {
                    &-#{$align}-#{$type} {
                        inset-#{$dir}-#{$align}: #{$type};
                    }
                }
            }
        }
    }
}
