@use "./props";

$types: (
    p: "padding",
    m: "margin",
);

@each $type-name, $type-value in $types {
    .#{$type-name} {
        #{$type-value}: var(--#{$type-name});
    }

    .#{$type-name}-none {
        #{$type-value}: 0;
    }

    @each $logical-name, $logical-value in props.$logical {
        .#{$type-name}-#{$logical-name} {
            #{$type-value}-#{$logical-value}: var(--#{$type-name}-#{$logical-name});
        }

        .#{$type-name}-#{$logical-name}-none {
            #{$type-value}-#{$logical-value}: 0;
        }
    }

    @each $spacer-name, $spacer-value in props.$spacing {
        .#{$type-name}-#{$spacer-name} {
            #{$type-value}: #{$spacer-value}rem;
        }

        @each $logical-name, $logical-value in props.$logical {
            .#{$type-name}-#{$logical-name}-#{$spacer-name} {
                #{$type-value}-#{$logical-value}: #{$spacer-value}rem;
            }
        }
    }
}

$gap-types: (
    gap: "gap",
    c-gap: "column-gap",
    r-gap: "row-gap",
);

@each $type-name, $type-value in $gap-types {
    .#{$type-name} {
        #{$type-value}: var(--#{$type-name});
    }

    .#{$type-name}-none {
        #{$type-value}: 0;
    }

    @each $spacer-name, $spacer-value in props.$spacing {
        .#{$type-name}-#{$spacer-name} {
            #{$type-value}: #{$spacer-value}rem;
        }
    }
}
