:root {
    color-scheme: dark light;
}

:root[data-theme="dark"] {
    color-scheme: dark;
}

:root[data-theme="light"] {
    color-scheme: light;
}

:root[data-theme="colorful"] {
    color-scheme: dark light;
}
