.drawPathN,
.drawPathBOne,
.drawPathBTwo {
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-name: dashdraw;
}

.drawPathN {
    stroke-dasharray: 12.395113945007324;
    stroke-dashoffset: 12.395113945007324;

    animation-duration: 2000ms;
    animation-delay: 500ms;
}

.drawPathBOne {
    stroke-dasharray: 18.18989372253418;
    stroke-dashoffset: 18.18989372253418;

    animation-duration: 2000ms;
    animation-delay: 1000ms;
}

.drawPathBTwo {
    stroke-dasharray: 18.189794540405273;
    stroke-dashoffset: 18.189794540405273;

    animation-duration: 2000ms;
    animation-delay: 1500ms;
}

@keyframes dashdraw {
    to {
        stroke-dashoffset: 0;
    }
}
