.drawPathS,
.drawBgS,
.drawPathW,
.drawBgW {
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-name: dashdraw;
}

.drawPathS,
.drawBgS {
    stroke-dasharray: 29.352224349975586;
    stroke-dashoffset: 29.352224349975586;

    animation-duration: 2000ms;
}

.drawBgS {
    animation-delay: 3000ms;
}

.drawPathS {
    animation-delay: 3050ms;
}

.drawPathW,
.drawBgW {
    stroke-dasharray: 30.28120994567871;
    stroke-dashoffset: 30.28120994567871;

    animation-duration: 2000ms;
}

.drawBgW {
    animation-delay: 3500ms;
}

.drawPathW {
    animation-delay: 3550ms;
}

@keyframes dashdraw {
    to {
        stroke-dashoffset: 0;
    }
}
